@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  background-color: #EEEEEE;
}

.form-floating.position-relative {
  display: flex;
  align-items: center;
}

.form-control {
  flex: 1;
  border-radius: 0;
}

.fa-eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Adjust the padding for the form control to accommodate the icon */
.form-control {
  padding-right: 30px; /* Adjust as needed */
}

.boxy {
  display: flex;
  background: white;
  padding: 10px;
  color: #333;
  height: 180px;
  border-radius: 25px;
  margin: auto;
}

.boxy img {
  width: auto;
  height: 100%;
  border-radius: 25px;
}

/* Cover Photo */

/* Media query for screens with a maximum width of 576px (Extra Small - xs) */
@media (max-width: 575.98px) {
  .custom-svg {
    top: -18%;
  }
}

/* Media query for screens with a minimum width of 576px (Small - sm) */
@media (max-width: 576px) {
  .custom-svg {
    top: -25%;
  }
}

/* Media query for screens with a minimum width of 768px (Medium - md) */
@media (max-width: 768px) {
  .custom-svg {
    top: -25%;
  }
}

/* Media query for screens with a minimum width of 992px (Large - lg) */
@media (max-width: 992px) {
  .custom-svg {
    top: -80%;
  }
}

/* NAVBAR */

#mobile-navbar{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbtn:hover {
  color: #26DB23; /* Change the color on hover */
}

/* CUSTOMIZED SCROLLBAR */
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #428339; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 1px solid rgb(218, 218, 218); /* creates padding around scroll thumb */
}

/* CONTAINER 1 */

@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #0AF630;
  --bg: #def;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

@media (max-width: 768px) {
  div[role="progressbar"] {
    --size: 8rem; /* Adjust the size for medium screens */
    font-size: calc(var(--size) / 5);
  }
}

@media (min-width: 576px) {
  div[role="progressbar"] {
    --size: 6rem; /* Adjust the size for smaller screens */
    font-size: calc(var(--size) / 5);
  }
}


/* CONTAINER 2 */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.plus-button {
  color: #fff; /* Change the color on hover */
}

.plus-button:hover {
  color: #26DB23; /* Change the color on hover */
}

#plantbox {
  width: 150px;
  height: auto;
  transition: opacity 0.3s; /* Add a transition for opacity */
}
/* Add Font Awesome styles (assuming you're using Font Awesome icons) */
.fa-pencil-alt::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f303"; /* Unicode for the pencil icon */
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.modal-dialog {
  max-width: 100%;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 50%;
  }
}
.status-container {
  display: flex;
  align-items: center;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px; /* Adjust the margin as needed */
}
.circles {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px; /* Adjust the margin as needed */
}

/* Swiper CSS */

.slide-content {
  margin: 0;
  overflow: hidden;
  border-radius: 25px;
}

.card-wrapper {
  display: flex;
}

.bg-image {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  height: 300px;
}

.overlay {
  position: relative;
}

.overlay img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.inner-div {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 0;
  right: 0;
  text-align: center;
}

#btn-plant {
  width: 100%;
  max-width: 200px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.overlay span, .overlay button {
  margin-top: 10px;
}
.inner-div,
#btn-plant{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
  color: white;
  width: 80%;
}
#span-date{
  color: #ffffff;
  font-size: 11px;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media screen and (max-width: 576x) {
  .bg-image{
    margin: 0px 300px 0px 300px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/* From Profile */

.upload {
  text-align: center;
}

.rounded-circle-container {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.rounded-circle-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.modal-dialog {
  top: calc(75% - 300px); 
}

